.book-container {
  float: left;
  display: flex;
  width: 80%;
  height: 100vh;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;
  padding-top: 40px;
  border-right: 2px solid gray;
  margin-left: 20px;
}

.book {
  width: 180px;
  padding: 0 5px;
  margin-bottom: 20px;
}

img {
  height: 160px;
}